.idea
.DS_Store
bin
xtend-gen
build
.gradle
.launch
owl-tools/owl.ttl
owl-tools/owl-load/annotation.owl
owl-tools/owl-load/ex.rdf
owl-tools/owl-load/exdata.ttl
owl-tools/owl-load/owl.ttl
owl-tools/owl-load/q1.rq
owl-tools/owl-load/test.xml
owl-tools/owl-load/owl/catalog.xml
owl-tools/owl-load/owl/imce.jpl.nasa.gov/discipline/fse/bundle.owl
owl-tools/owl-load/owl/imce.jpl.nasa.gov/discipline/fse/fse.owl
owl-tools/owl-load/owl/imce.jpl.nasa.gov/discipline/power/bundle.owl
owl-tools/owl-load/owl/imce.jpl.nasa.gov/discipline/power/pel.owl
owl-tools/owl-load/owl/imce.jpl.nasa.gov/foundation/analysis/analysis.owl
owl-tools/owl-load/owl/imce.jpl.nasa.gov/foundation/annotation/annotation.owl
owl-tools/owl-load/owl/imce.jpl.nasa.gov/foundation/base/base.owl
owl-tools/owl-load/owl/imce.jpl.nasa.gov/foundation/behavior/behavior.owl
owl-tools/owl-load/owl/imce.jpl.nasa.gov/foundation/bundle.owl
owl-tools/owl-load/owl/imce.jpl.nasa.gov/foundation/mission/mission.owl
owl-tools/owl-load/owl/imce.jpl.nasa.gov/foundation/owl2-mof2/datatype-map.owl
owl-tools/owl-load/owl/imce.jpl.nasa.gov/foundation/owl2-mof2/owl2-mof2.owl
owl-tools/owl-load/owl/imce.jpl.nasa.gov/foundation/project/project.owl
owl-tools/owl-load/owl/imce.jpl.nasa.gov/foundation/scenario/scenario.owl
owl-tools/owl-load/owl/imce.jpl.nasa.gov/tool/caesar/workbench/bundle.owl
owl-tools/owl-load/owl/iso.org/iso-80000-2.owl
owl-tools/owl-load/owl/iso.org/iso-80000-3.owl
owl-tools/owl-load/owl/iso.org/iso-80000-4.owl
owl-tools/owl-load/owl/iso.org/iso-80000-5.owl
owl-tools/owl-load/owl/iso.org/iso-80000-6.owl
owl-tools/owl-load/owl/opencaesar.io/services/cprov.owl
owl-tools/owl-load/owl/purl.org/dc/elements/1.1.owl
owl-tools/owl-load/owl/www.w3.org/ns/prov.owl
owl-tools/owl-load/owl/iso.org/ex.rdf
owl-tools/owl-query/queries/test.sparql
owl-tools/owl-query/queries/test2.sparql
